.container
{
    padding: 30px;
    /* margin-left: 30px; */
    
}

.checkout-form {
    background: linear-gradient(0deg, #1C1C24, #1C1C24),
    linear-gradient(0deg, #252D3C, #252D3C);
    width: 700px;
    border-radius: 5px;
    display: block;
    /* flex-direction: column; */
    gap: 20px;
    padding: 20px;
    
    
  }
  
  .form-row {
    display: flex;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
  }



  .checkout-form input
  {
    color: white;
    background: linear-gradient(0deg, #1C1C24, #1C1C24),
    linear-gradient(0deg, #252D3C, #252D3C);
    border: 1px solid gray;
    border-radius: 5px;
height: 30px;
width: 100%;

  
  }

  .checkout-form select
  {
    color: white;
    /* background: transparent; */
    border: 1px solid gray;
    border-radius: 5px;
    background: linear-gradient(0deg, #1C1C24, #1C1C24),
    linear-gradient(0deg, #252D3C, #252D3C);
    border: 1px solid gray;
    border-radius: 5px;
height: 30px;
width: 100%;

  
  }



  .checkout-page
  {
    display: flex;
  }

  .left-side {
    
    flex: 1; /* This will make it take up as much space as possible */
  }
  
  .right-side {
    background: linear-gradient(0deg, #1C1C24, #1C1C24),
    linear-gradient(0deg, #252D3C, #252D3C);
    /* border: 1px solid gray; */
    border-radius: 5px;
    padding: 30px;
    margin-top: 110px;
    margin-right: 40px;
    width: 400px;
    /* Your styles for the right component */
  }


  .right-side p{
    color: gray;
  }

  .right-side span
  {
    float: right;
  
    color: white;
 
  }

  .checkout-button-confrm
  {
    background-color: red;
    color: white;
    border: red;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 30px;
  }

  #qrcode
  {
    display: none;
  }